

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
  <h2 class="text-center">会员信息</h2>

    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", required: false, label: false, placeholder: "新的密码", input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: false, label: false, placeholder: "请确认新密码", input_html: {class: "form-control"} %>
    <%= f.input :current_password, required: true, label: false, placeholder: "请输入当前密码", input_html: {class: "form-control"} %>
    <%= f.button :submit, "更新", class: "btn btn-primary btn-lg btn-block" %>

<% end %>

<h3>注销账号</h3>

<p>不喜欢? <%= link_to "注销我的账号", registration_path(resource_name), data: { confirm: "您确定吗?" }, method: :delete %></p>
<%= link_to "返回", :back %>
